
.card{
    margin-bottom: 5px;
    }
    
#plantcss {
    cursor: pointer;
    position: relative;
    top: 85%;
    left:0%;
    z-index: 1;
    width: 30%;
    height:30%;
    display: block;
}
#plantcutcss {
    cursor: pointer;
    position: relative;
    top: 85%;
    left:0%;
    z-index: 1;
    width: 30%;
    height:30%;
    display: none;
}


#scissorscss {
    cursor: pointer;
    position: absolute;
    top: 2%;
    left:37%;
    width:10%;
    display: block;
    z-index: 1;
}

#leafcss {
    cursor: pointer;
    display: block;
    position: absolute;
    top:18%;
    left:25%;
    width: 5%;
    z-index: 2;
    display: none;
    
}

#n2bottlecss {
    cursor: pointer;
    position: absolute;
    top: 23.5%;
    left:40%;
    display: block;
    z-index: 2;
    width: 10%;
    height:25%;
}

#motorpestlecss {
    
    position: absolute;
    top: 17.5%;  /*23 */
    left:50%; /* 80*/
    width:15%;
    height:20%;
    display: block;
    
    cursor: pointer;
   
}


#powderbowlcss{
    position: absolute;
    top:20%;
    left:65%;
    width:15%;
    height:20%;
    cursor: pointer; /* stem outline 2D7600 */
    display: none;
    z-index: 3;
}

#dnabuffercss{
    position: absolute;
    top:10%;
    left:80%;
    width:10%;
    height:35%;
    cursor: pointer; /* stem outline 2D7600 */
    display: none;
}

#dnapelletcss {
    position: absolute;
    top: 50%;
    left:70%;
    width: 20%;
    height:35%;
    cursor: pointer;
    display: none;
    
    
}



#tebuffercss{
    position:absolute;
    top:50%;
    left:55%;
    background-color: #fdfdfd;
    display: none;
    width: 8%;
    height:27%;
    z-index: 0;
    cursor: pointer;
}




#dnafragmentcss {
    position: relative;
    top: 5%;
    left:10%;
    width: 30%;
    cursor: pointer;
    display: none;
    z-index: 2;
}

#adaptersdnafragmentcss{
    position: absolute;
    top: 5%;
    left:60%;
    width: 30%;
    cursor: pointer;
    display: none;
    z-index: 2
}

#seqplatformcss{
    position: relative;
    top: 5%;
    left:1%;
    width: 30%;
    cursor: pointer;
    display: none;
    z-index: 2;
}

#rawdatacss {
    position: absolute;
    top: 18%;
    left:35%;
    width:30%;
    cursor: pointer;
    display: none;
}



#filtereddatacss {
    position: absolute;
    top: 18%;
    left:68%;
    width: 30%;
    cursor: pointer;
    display: none;
}

